@font-face {
  font-family: 'satoshi;
  src: url('https://rawcdn.githack.com/callum-dawes/madebymanual/0949c62e7422bf9c8b431cc28a9c62812d2b2f0f/Satoshi-Regular.woff2') format('woff2'),
       url('https://rawcdn.githack.com/callum-dawes/madebymanual/0949c62e7422bf9c8b431cc28a9c62812d2b2f0f/Satoshi-Regular.woff') format('woff'),
       url('https://rawcdn.githack.com/callum-dawes/madebymanual/0949c62e7422bf9c8b431cc28a9c62812d2b2f0f/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}